@using Sitecore.Mvc;

@*@using Sitecore.Mvc.Analytics.Extensions*@

<!DOCTYPE html>
<html>
<head>
    @*@Html.Sitecore().VisitorIdentification()*@
</head>
<body>
    @*@Html.Sitecore().Placeholder("Header")
    @Html.Sitecore().Placeholder("Main")
    @Html.Sitecore().Placeholder("Footer")*@
    @*<h1>@Html.Sitecore().Field("title")</h1>*@

    <div class="card-list">

        @Html.Sitecore().Placeholder("cards")

    </div>
    <style>
        .card-list {
            display: flex;
            justify-content: space-around;
            gap: 20px;
        }

        .card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            text-align: center;
            width: 30%;
        }

            .card img {
                width: 100%;
                height: auto;
            }

            .card h2 {
                font-size: 1.5em;
                margin: 16px 0;
            }

            .card p {
                padding: 0 16px 16px;
                color: #666;
            }
    </style>



</body>
</html>
